  h1{
    text-align: center;
    color: #6495ED; 
    font-family: Century Gothic;
  }
  h2{
    font-family: Century Gothic;
  }
  img {
    display: block;
    margin : 0 auto;
  }
 body{
   background-color: #FFF0F5;
  }
